*{
    margin: 0;
    padding: 0;
    }
    
    .card{
        background: linear-gradient(360deg, #0BCCEB, #0A80F5);
        color: #fff;
        justify-content: center;
        border-radius: 10px;
    }
    .container{
    background:  #0BCCEB;
    max-width: 100%;
    padding-top:2%;
    padding-bottom:2%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .app-wrapper_list {
    background-color: #fff;
    min-width: 250px;
    min-height: 300px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    }
    
    .title {
        color: #0A80F5;
       text-align: center;
     
    }
        .name,
        .email,
        .password{
      
        margin: 20px;
        color: #969292;
        font-size: 16px;
        text-align: left;
    
    }
    .repassword{
        margin: 20px;
        color: #969292;
        font-size: 16px;
        text-align: left;
        margin-bottom: 40px;
    
    }
        
    
    .input{
        height: 32px;
        font-size: 20px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
        transition: box-shadow 0.2s ease-in;
    }
    .input:focus{
        box-shadow: inset 0px -3px 0px 0px rgba(10, 128, 245);
        outline: none;
     }
    .error{
        color: red;
    }
    .submit{
        display: flex;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        border-radius:25px ;
        padding: 10px 30px;
        background: linear-gradient(90deg, rgb(11, 204, 235) 0%,     rgb(10, 128, 245) 100%);
        margin:auto ;
        outline: none;
        border: none;
        cursor: pointer;
        /* transition: all 0.1s; */
    }
    
    button:active{
        transform: translateY(2px);
    }
    
    .formsuccess{
        display: flex;
        justify-content: center;
        margin-top: 250px;
        min-width: 370px;
        color: #0A80F5;
    }
    #render{
        justify-content: center;
    }
    
    